@charset "ISO-8859-1";

/* menu categories division */

.menu-categories-division {
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 15px;
}

/* menu categories row */

.menu-categories-row:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: maroon;
}

/* large devices */

@media (min-width: 1200px) {

    .menu-categories-division {
        font-size: 15px;
    }

}

/* medium devices */

@media (min-width: 992px) and (max-width: 1199px) {

    .menu-categories-division {
        font-size: 15px;
    }

}

/* small devices */

@media (min-width: 768px) and (max-width: 991px) {

    .menu-categories-division {
        font-size: 12px;
    }

}

/* extra small devices */

@media (max-width: 767px) {

    .menu-categories-division {
        font-size: 12px;
    }

}

/* super extra small devices */

@media (max-width: 479px) {

    .menu-categories-division {
        font-size: 8px;
    }

}