<ui-view>
    <div class="container-1 menu-view-form">
        <div class="home-view-nav">
            <a ui-sref="home"> {{ ::homeCtrl.nav.home }} &lt; {{ ::homeCtrl.nav.menu }}</a> &lt; 
            <a ui-sref="home.categories">{{ ::homeCtrl.nav.categories }}</a> &lt; 
            <span>{{ ::homeCtrl.nav.items }}</span>
        </div>
    
        <div class="form-group search-form-div">
            <input type="text" placeholder="Search Items By Category" class="search-form-input" ng-model="itemsCtrl.searchCategory">
            <button type="button" class="btn btn-primary tab-btn" ng-click="itemsCtrl.searchMenuItems(itemsCtrl.searchCategory);">{{ ::itemsCtrl.searchBtnName }}</button>
        </div>
    
        <div class="menu-items-div">
            <div class="fix-thead" ng-if="!itemsCtrl.isEmptyMenuItems();">
                <table class="tbg-dark-cyan-middle-indigo-45">
                    <thead>
                        <tr>
                            <th>{{ ::itemsCtrl.serialNo }}</th>
                            <th>{{ ::itemsCtrl.itemName }}</th>
                            <th>{{ ::itemsCtrl.itemShortName }}</th>
                            <th>{{ ::itemsCtrl.smallPortionName }}</th>
                            <th>{{ ::itemsCtrl.priceSmall }}</th>
                            <th>{{ ::itemsCtrl.largePortionName }}</th>
                            <th>{{ ::itemsCtrl.priceLarge }}</th>
                            <th>{{ ::itemsCtrl.description }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemsCtrl.items track by $index" ui-sref="home.items.item({itemShortName: item.short_name })" class="menu-items-row">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.short_name }}</td>
                            <td>{{ item.small_portion_name }}</td>
                            <td>{{ item.price_small }}</td>
                            <td>{{ item.large_portion_name }}</td>
                            <td>{{ item.price_large }}</td>
                            <td>{{ item.description }}</td>
                        </tr>
                    </table>
                </table>
            </div>
            <div class="message-div">
                <span class="alert alert-info warning-message" ng-if="itemsCtrl.isEmptyMenuItems();">{{ ::itemsCtrl.emptyGone }}</span>
            </div>
        </div>
    </div>
</ui-view>