<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="lunchCheckerAppModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lunch Checker Application</title>
    
    <base href="#!/" />

    <link rel="stylesheet" type="text/css" href="css/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="css/webjars/bootstrap-theme/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="fonts/bootstrap/3.3.7/font/glyphicons-halflings-regular.svg" />

    <link rel="stylesheet" type="text/css" href="src/css/main.css" />
</head>
<body class="bg" ng-controller="lunchCheckerController" ng-strict-di>

    <div class="container lunch-checker-div">
        <h1>Lunch Checker</h1>
        <hr />
   
        <form id="lunch_menu_form" name="lunch_menu_form" class="form-group lunch-checker-form">
            <label for="lunch-menu">Lunch Menu: </label>
            <input id="lunch-menu" 
                   type="text" 
                   class="form-control" 
                   placeholder="{{ ctrl.messages.placeholder }}" 
                   ng-model="ctrl.messages.lunchMenu" />
            
            <div ng-class="ctrl.messageClass" ng-if="ctrl.showMessage">{{ ctrl.messages.message }}</div>
            <button class="btn btn-default lunch-checker-button" ng-click="ctrl.checkIfTooMuch();">Check If Too Much</button>
        </form>

    </div>

    <!-- libraries -->
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script type="text/javascript" src="lib/require.min.js"></script>
    <script type="text/javascript" src="js/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- lunch checker application -->
    <script type="text/javascript" src="src/js/app.module.js"></script>
    <script type="text/javascript" src="src/js/app.controller.js"></script>
</body>
</html>