@charset "ISO-8859-1";

/* error-view-division */

.error-view-division {
    margin-top: 7.5em;
    margin-bottom: 10em;
}

.error-view-division .error-messages-division {
    margin-bottom: 5em;
}

.error-view-division #error-image {
    padding-left: 5%;
    max-width: 100%;
    max-height: 100%;
}