@charset "ISO-8859-1";

/* margin-top-3 */

.margin-top-3 {
    margin-top: 3em;
}

/* margin-top-5 */

.margin-top-5 {
    margin-top: 5em;
}

/* width-100 */

.width-100 {
    width: 100%;
}

/* body */

body {
    background-image: url("../../img/cool-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* lunch-checker */

.lunch-checker-div {
    margin: solid 0 auto;
    text-align: center;
}

.lunch-checker-form {
    width: 60%;
    height: 40%;
    padding: 50px;
    margin-top: 7em;
    margin-left: 20%;
    background: linear-gradient(45deg, antiquewhite, darkorange);
    border: solid 2px maroon;
    border-radius: 15px;
}

.lunch-checker-form div {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
}

.lunch-checker-form button {
    width: 100%;
    margin-top: 1em;
}

/* success message */

.success-message { 
    color: darkolivegreen;
    font-size: 1.3em; 
    font-weight: bold; 
}

/* error message */

.error-message { 
    color: maroon;
    font-size: 1.3em; 
    font-weight: bold; 
}